<!DOCTYPE html>
<html>
    <head>
      <title>히익</title>
    </head>
    <body>
        <b>끼믄씪끄켬</b>
        <%5.times do %>
            밖에 비온다 주륵주륵
            <br>
        <%end%>
    </body>
</html>